/* COLORS */
$mainbackground: #4A4A4A;
$primarycol: #1a1b1b;
$secondarycol: #fff;
$titlehr: #fc8c5e;
$modulecircle: #fc8c5e;
$cardtext: #62676c;
$facebook: #3c5998;
$twitter: #54acee;
$instagram: #3f729b;
$youtube: #cd201f;
/* /COLORS */

/* TYPOGRAPHY */
$mainfont: "Fira Sans";
$moduleicons: 25px;
$xsmall: 12px;
$small: 13px;
$normal: 20px;
$jumbo: 100px;
$maintitle: 30px;
$cardtitle: 17px;
$thin: 300;
$subtitlesection: #3b3d3f;
/* /TYPOGRAPHY */