@import "black-banner/_black-banner.scss";
@import "modules/_modules.scss";

.forum {
  background-color: #f2f2f2;
}

.intro-title {
  margin-bottom: 50px;
  h3 {
    @include subTitleSection;
  }
  h1 {
    @include titleSection;
  }
  span {
    @include titleHr;
  }
}

.wrapper {
  flex-wrap: wrap;
  margin-bottom: 50px;
}

@media all and (max-width: 768px) {
  .module.w-25 {
    width: calc(100% / 4 - 10px);
    margin: 5px 5px; 
  }
}

@media all and (max-width: 567px) {
  .module.ml-20.mr-20.w-25 {
    width: calc(50% - 10px);
  }
}

