.card.w-65 {
  background-image: url(./../../assets/img/featured_article_2_bg.jpg);
  background-position: center;
  background-size: cover;
  padding: 80px 80px;
  h3 {
    color: $secondarycol;
      text-transform: uppercase;
      letter-spacing: 5px;
      font-size: 18px;
      margin-bottom: 20px;
      cursor: pointer;
  }
  h1 {
    color: $secondarycol;
    font-size: 35px;
    margin-bottom: 20px;  
  }
  p {
    color: $secondarycol;
    font-size: 13px;
    line-height: 25px;
  }
}

.card.w-35 {
  flex-direction: column;
  .card-title {
    margin-left: 5px;
    h1 {
      @include titleSection;
      margin: 0;
      margin-bottom: 20px;
    }
    span {
      @include titleHr;
      margin: 0;
      margin-bottom: 20px;
    }
  }
}

@media all and (max-width: 768px) {
  .card.w-65 {
    width: 100%;
  }

  .card.w-35 .card-title {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }

  .card.w-35 {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
  }

  
  .card-mini.mt-20.flex {
    width: calc(100% / 3);
  }

  .card.w-35 .card-title span {
    margin: 0 auto;
  }
}

@media all and (max-width: 576px) {
  .card-mini.mt-20.flex {
    width: 100%;
    margin-top: 20px;
  }

  .card.w-65 {
    height: 400px;
    padding: 10px;
  }

  .card.w-65 p {
    font-size: 11px;
  }

  .card-big-btn {
    margin: 10px 0;
  }

  .card.w-65 h3 {
    font-size: 13px;
  }
}